@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {width:100%; overflow-x:hidden;}

body {
    
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/*--------------------------------------colours----*/


/*--------------------------------------navbar from bootstrap----*/



.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}


/*--------------------------------------Header Container----*/

.header-container {
    min-height: 500px;

    background: url('../images/header-guitarist.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.head-text {
    font-family: 'Exo', sans-serif;
    font-size: 450%;
    color: rgb(239, 241, 210);
    padding: 40px 0;
    top: 5px;
    margin: auto;
    width: 100%;
    text-shadow: 3px 3px 8px #000;
       
}

.para-text {
    font-family: 'Exo', sans-serif;
    font-size: 200%;
    color: rgb(239, 241, 210); 
    text-shadow: 3px 3px 8px #000;
}

.jumbotron {
    padding: 0;
    background-color: transparent;
}

/*-------------------------------------Info Container----*/

.info-container {
    min-height: 360px;
    
}

img {
    height: 500px;
    width: 100%;
    opacity: 0.9;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: px 3px 8px #000, -0px -3px -8px rgb(255, 255, 255);
}

/*-------------------------------------Info2 Container----*/

.info2-container {
    min-height: 500px;

    background: url('../images/info2-guitarist.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*-------------------------------------Info3 Container----*/

.info3-conatiner {
    max-height: 360px;
    box-shadow: 0px 5px 8px #000,
}

/*-------------------------------------Info4 Container----*/

.info4-container {
    min-height: 500px;

    background: url('../images/info4-guitarist.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*-------------------------------------Info5 Container----*/

.info5-conatiner {
    max-height: 360px;
    box-shadow: 0px 5px 8px #000;
}
